.box {
        display: flex;
        flex-direction:column;
        margin: 0 auto;
        min-width: rem-calc(230);
    &__list {
        padding-left: rem-calc(10);
    }

    &__cards {
        padding: 0 rem-calc(10);
        row-gap: rem-calc(20);
    }
}