.box {
    display: flex;
    flex-direction: column;
        
    &__list {
        padding-left: 10px;
    }

    &__cards {
        row-gap: 20px;
    }
    &__header {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
}