.cards {
    min-width: rem-calc(220);
    margin: 0 auto;
    background: $white;
    @extend %shadow;
    border-radius: 10px;
    
    &__img {
        height: rem-calc(130);
        position: relative;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        &--news::before {
            content: "Nouveau";
            background: $tertiary;
            color: darken($tertiary, $amount: 40);
            font-weight: bold;
            @extend %shadow;
            padding: 3px 5px;
    
            position: relative;
            z-index: 1;
            text-align: center;
            line-height: rem-calc(20);
            top: 12px;
            left: rem-calc(150);
            
            border-radius: 3px;
        }

        & img {
            width: 150%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }
    }

    &__body {
        padding: rem-calc(10) rem-calc(10);
    }
}