.list {
    display: flex;
    @extend %shadow;
    border-radius: 10px;

    &--funct {
        height: 60px;
        min-width: 230px;
        align-items: center;
        background: $lightenGray;
        padding: 0 20px;
        margin: 10px 0;

        &::before {
            content: attr(data-count-circles);
            margin-left: rem-calc(-30);
            margin-right: rem-calc(15);
            height: rem-calc(18);
            width: rem-calc(18);
            line-height: rem-calc(18);
            background: $primary;
            border-radius: rem-calc(18);
            color: $white;
            text-align: center;
        }

        &:hover {
            background: lighten($primary, $amount: 35);
            
            & .fas {
                color: $primary;
            }
        }
    }
}