.list {
    display: flex;
    @extend %shadow;
    border-radius: 10px;

    &--funct {
        height: 60px;
        min-width: 230px;
        align-items: center;
        background: $lightenGray;
        padding: 0 20px;
        margin: 10px 0;

        &::before {
            content: attr(data-count-circles);
            margin-left: -30px;
            margin-right: 15px;
            height: 18px;
            width: 18px;
            line-height: 18px;
            background: $primary;
            border-radius: 18px;
            color: $white;
            text-align: center;
        }

        &:hover {
            background: lighten($primary, $amount: 35);
            
            & .fas {
                color: $primary;
            }
        }
    }
}