.logo {
    &--header {
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        @extend %more-shadow;
        z-index: 1;
    }
    &--footer {
        margin-bottom: 10px;
    }
}