h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: rem-calc(16);
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: $base-font-size;
}

.txt {
    &--loc {
        margin-left: rem-calc(10);
    }
    &--hero {
        margin-bottom: rem-calc(20);
    }
    &--funct {
        margin-left: rem-calc(10);
    }
    &--footer {
        color: $white;
    }
    &--footer {
        line-height: rem-calc(25);
    }
}

.title {
    margin-bottom: rem-calc(20);
    align-self: flex-start;
    
    &--cards {
        font-size: rem-calc(14);
        margin-bottom: 0;
    }
    &--hero {
        align-self: center;
    }
    &--menu {
        margin-bottom: 0;
    }
}