h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: $base-font-size;
}

.txt {
    &--loc {
        margin-left: 10px;
    }
    &--hero {
        margin-bottom: 20px;
    }
    &--funct {
        margin-left: 10px;
    }
    &--footer {
        color: $white;
    }
    &--footer {
        line-height: 25px;
    }

    &--menu {
        flex: 1 0;
    }
    &--price {
        flex: 0 0;
        align-self: flex-end;
        padding-bottom: 10px;
    }
}

.title {
    margin-bottom: 20px;
    align-self: flex-start;
    
    &--cards {
        font-size: 14px;
        margin-bottom: 0;
    }
    &--hero {
        align-self: center;
    }
    &--menu {
        margin-bottom: 0;
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
    }
    &--iMenu {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;

        &::after {
            content: "";
            margin-top: 5px;
            display: block;
            height: 3px;
            width: 35px;
            background-color: $tertiary;
        }
    }
}