@charset "UTF-8";
/* Utils */
/* trim-unit : Fonction pour retirer l'unité de mesure */
/* Fonction pour convertir les pixels en rem */
.cards__img--news::before, .cards, .list--funct, .btn--cta {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn--cta:hover, .container__header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Base */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h4 {
  font-family: "Shrikhand", cursive;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.1428571429rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.txt--loc {
  margin-left: 0.7142857143rem;
}
.txt--hero {
  margin-bottom: 1.4285714286rem;
}
.txt--funct {
  margin-left: 0.7142857143rem;
}
.txt--footer {
  color: #fff;
}
.txt--footer {
  line-height: 1.7857142857rem;
}

.title {
  margin-bottom: 1.4285714286rem;
  align-self: flex-start;
}
.title--cards {
  font-size: 1rem;
  margin-bottom: 0;
}
.title--hero {
  align-self: center;
}

/* Layouts */
.header {
  background-color: #fff;
}

.loc {
  height: 40px;
  background: #EAEAEA;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__hero {
  background-color: #f6f6f6;
  text-align: center;
}
.container__restaurants {
  background-color: #f6f6f6;
}
.container__header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

footer {
  background: #353535;
  color: #fff;
  padding: 1.4285714286rem 1.4285714286rem;
}

/* Components */
.logo--header {
  /*height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem-calc(24);
  @extend %more-shadow;
  z-index: 1;*/
  font-size: 1.7142857143rem;
}
.logo--header--menu {
  align-self: center;
}
.logo--footer {
  margin-bottom: 0.7142857143rem;
}

.box {
  display: flex;
  flex-direction: column;
}
.box__list {
  padding-left: 10px;
}
.box__cards {
  row-gap: 20px;
}

.btn {
  color: #fff;
}
.btn--cta {
  display: flex;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  height: 50px;
  min-width: 180px;
  max-width: 200px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 400ms;
}
.btn--cta:hover {
  opacity: 0.8;
}

.list--funct {
  height: 60px;
  min-width: 230px;
  display: flex;
  align-items: center;
  background: #f6f6f6;
  border-radius: 10px;
  padding: 0 20px;
  margin: 10px 0;
}
.list--funct::before {
  content: attr(data-count-circles);
  margin-left: -2.1428571429rem;
  margin-right: 1.0714285714rem;
  height: 1.2857142857rem;
  width: 1.2857142857rem;
  line-height: 1.2857142857rem;
  background: #9356DC;
  border-radius: 1.2857142857rem;
  color: #fff;
  text-align: center;
}
.list--funct:hover {
  background: #f2eafb;
}
.list--funct:hover .fas {
  color: #9356DC;
}

.cards {
  min-width: 230px;
  background: #fff;
  border-radius: 10px;
}
.cards__img {
  height: 130px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cards__img--news::before {
  content: "Nouveau";
  background: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 3px 5px;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 1.4285714286rem;
  top: 10px;
  left: 155px;
  border-radius: 3px;
}
.cards__img img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.cards__body {
  padding: 10px 10px;
}

.ico--hearts {
  float: right;
  font-size: 18px;
  margin-top: 10px;
}
.ico--hearts .fa-heart:hover {
  background: #9356DC;
  background: linear-gradient(180deg, #9356DC 25%, #FF79DA 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.ico--arrow {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.fa-utensils, .fa-hands-helping {
  margin-right: 10px;
  font-size: 14px;
}

.fa-hands-helping {
  font-size: 10px;
}

/*# sourceMappingURL=styles.css.map */
