@charset "UTF-8";
/* Utils */
/* trim-unit : Fonction pour retirer l'unité de mesure */
/* Fonction pour convertir les pixels en rem */
.cards__img--news::before, .cards, .list, .btn--cta, .dish {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn--cta:hover, .container__header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* animation des menus qui apparaissent progressivement */
@keyframes dishes {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* apparition progressive de plats avec assignation de leurs timings respectifs */
.slide-in-bottom01 {
  animation: dishes 1s ease 0.3s 1 normal both;
}

.slide-in-bottom02 {
  animation: dishes 1s ease 0.5s 1 normal both;
}

.slide-in-bottom03 {
  animation: dishes 1s ease 0.7s 1 normal both;
}

.slide-in-bottom04 {
  animation: dishes 1s ease 0.9s 1 normal both;
}

/* Base */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.1428571429rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.txt--loc {
  margin-left: 0.7142857143rem;
}
.txt--hero {
  margin-bottom: 1.4285714286rem;
}
.txt--funct {
  margin-left: 0.7142857143rem;
}
.txt--footer {
  color: #fff;
}
.txt--footer {
  line-height: 1.7857142857rem;
}
.txt--menu {
  flex: 1 0;
}
.txt--price {
  flex: 0 0;
  align-self: flex-end;
  padding-bottom: 10px;
}

.title {
  margin-bottom: 1.4285714286rem;
  align-self: flex-start;
}
.title--cards {
  font-size: 1rem;
  margin-bottom: 0;
}
.title--hero {
  align-self: center;
}
.title--menu {
  margin-bottom: 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.4285714286rem;
}
.title--iMenu {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
}
.title--iMenu::after {
  content: "";
  margin-top: 5px;
  display: block;
  height: 3px;
  width: 35px;
  background-color: #99E2D0;
}

/* Layouts */
.header {
  background-color: #fff;
}

.loc {
  height: 40px;
  background: #EAEAEA;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__hero {
  background-color: #f6f6f6;
  text-align: center;
}
.container__restaurants {
  background-color: #f6f6f6;
}
.container__header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.container__menu-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.container__menu-img--aLaFrancaise {
  background-image: url("../../assets/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.container__menu {
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -25px;
  background-color: #f6f6f6;
}

footer {
  background: #353535;
  color: #fff;
  padding: 1.4285714286rem 1.4285714286rem;
}

/* Components */
.logo {
  font-family: "Shrikhand", cursive;
}
.logo--header {
  /*height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem-calc(24);
  @extend %more-shadow;
  z-index: 1;*/
  font-size: 1.7142857143rem;
}
.logo--header--menu {
  align-self: center;
}
.logo--footer {
  margin-bottom: 0.7142857143rem;
}

.box {
  display: flex;
  flex-direction: column;
}
.box__list {
  padding-left: 10px;
}
.box__cards {
  row-gap: 20px;
}
.box__header {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.menu {
  margin: auto;
  width: 100%;
}
.menu__title {
  padding-bottom: 10px;
  font-weight: lighter;
}
.menu__title::after {
  display: block;
  content: "";
  width: 40px;
  height: 2px;
  margin-top: 5px;
  background: #99E2D0;
}

.dish {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 70px;
  margin-bottom: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.dish__title {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish__caption {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  transition: width 0.5s ease-in-out;
}
.dish__caption p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish__caption--checkBox {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15%;
  height: 100%;
  background-color: #99E2D0;
  color: #fff;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.dish__caption--checkBox i {
  transform: rotate(45deg);
  margin: auto;
  transition: transform 0.5s ease-in-out;
}
.dish:hover .dish__caption,
.dish:hover .dish__title {
  width: 85%;
}
.dish:hover .dish__caption--checkBox {
  transform: translateX(0%);
}
.dish:hover .dish__caption--checkBox i {
  transform: rotate(360deg);
}

.btn {
  color: #fff;
}
.btn__container {
  align-self: center;
}
.btn--cta {
  display: flex;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  height: 50px;
  min-width: 180px;
  max-width: 200px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 400ms;
}
.btn--cta:hover {
  opacity: 0.8;
}

.list {
  display: flex;
  border-radius: 10px;
}
.list--funct {
  height: 60px;
  min-width: 230px;
  align-items: center;
  background: #f6f6f6;
  padding: 0 20px;
  margin: 10px 0;
}
.list--funct::before {
  content: attr(data-count-circles);
  margin-left: -2.1428571429rem;
  margin-right: 1.0714285714rem;
  height: 1.2857142857rem;
  width: 1.2857142857rem;
  line-height: 1.2857142857rem;
  background: #9356DC;
  border-radius: 1.2857142857rem;
  color: #fff;
  text-align: center;
}
.list--funct:hover {
  background: #f2eafb;
}
.list--funct:hover .fas {
  color: #9356DC;
}

.cards {
  min-width: 230px;
  background: #fff;
  border-radius: 10px;
}
.cards__img {
  height: 130px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cards__img--news::before {
  content: "Nouveau";
  background: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 3px 5px;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 1.4285714286rem;
  top: 10px;
  left: 155px;
  border-radius: 3px;
}
.cards__img img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.cards__body {
  padding: 10px 10px;
}

.ico--hearts {
  float: right;
  font-size: 18px;
  margin-top: 10px;
}
.ico--hearts .fa-heart {
  background-color: transparent;
  transition: color 300ms ease-in;
}
.ico--hearts .fa-heart:hover {
  background-image: linear-gradient(180deg, #9356DC 25%, #FF79DA 100%);
  color: transparent;
  font-weight: bold;
  -webkit-background-clip: text;
}
.ico--hearts--menu {
  float: none;
  margin-top: 0;
}
.ico--arrow {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.fa-utensils, .fa-hands-helping {
  margin-right: 10px;
  font-size: 14px;
}

.fa-hands-helping {
  font-size: 10px;
}

/*# sourceMappingURL=styles.css.map */
