/* animation des menus qui apparaissent progressivement */

@keyframes dishes {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* apparition progressive de plats avec assignation de leurs timings respectifs */
  
  .slide-in-bottom01 {
    animation: dishes 1s ease 0.3s 1 normal both;
  }
  .slide-in-bottom02 {
    animation: dishes 1s ease 0.5s 1 normal both;
  }
  .slide-in-bottom03 {
    animation: dishes 1s ease 0.7s 1 normal both;
  }
  .slide-in-bottom04 {
    animation: dishes 1s ease 0.9s 1 normal both;
  }
  