.container {
    padding: rem-calc(30) rem-calc(20);
    &__hero {
        background-color: $lightenGray;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__funct {
        display: flex;
        flex-direction: column;
    }

    &__restaurants {
        background-color: $lightenGray;
        display: flex;
        flex-direction: column;
    }
}