.container {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__hero {
        background-color: $lightenGray;
        text-align: center;
    }

    &__restaurants {
        background-color: $lightenGray;
    }

    &__header {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %more-shadow;
        z-index: 5;
    }

    &__menu-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        &--aLaFrancaise {
            background-image: url('../../assets/images/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        }
        &--la-note-enchantee {
            background-image: url('../../assets/images/stil-u2Lp8tXIcjw-unsplash.jpg');
        }
        &--la-palette-du-gout {
            background-image: url('../../assets/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
        }
        &--le-delice-des-sens {
            background-image: url('../../assets/images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
        }
    }

    &__menu {
        justify-content: space-around;
        align-items: flex-start;
        gap: 20px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-top: -25px;
        background-color: $lightenGray;
    }

}