header {
    background-color: $white;
    display: flex;
    flex-direction: column;    
}
.loc{
    height: 40px;
    background-color: $darkGray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}